<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap3: the above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="MonManPoc">
    <meta name="author" content="cisco-dvbu">
    <link rel="icon" href="favicon.png">

    <title>MonMan</title>

    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/kendo-ui/styles/kendo.common.min.css"/>
    <link rel="stylesheet" href="bower_components/kendo-ui/styles/kendo.default.min.css"/>
    <link rel="stylesheet" href="css/sticky-footer-navbar.css">
    <link rel="stylesheet" href="app.css">

    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body ng-controller="myCtrl">

<!-- navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">monmanpoc</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div> <!--/.nav-collapse -->
    </div>
</nav>

<!-- content -->
<div class="container" style="background-color: yellowgreen; position:absolute; top:50px; bottom:50px; left:0px; right:0px">
    <div class="visible-xs col-xs-12 col-xs-8 col-sm-4">
        List View
    </div>
    <div class="visible-xs col-xs-12 col-xs-8 col-sm-4">
        Detail View
    </div>
    <div class="visible-xs col-xs-12 col-xs-8 col-sm-4">
        Property View
    </div>

    <div class="visible-lg visible-md col-lg-12 col-md-11" kendo-splitter k-panes="[null, null, null]"
         style="position:absolute; top:10px; bottom:10px; left:10px; right:10px">
        <div>
            Left Panel
            <h4>expression: {{1+3}}</h4>
            <h4>greeting: {{greeting}}</h4>
            <h4>ng version: {{ngversion}}</h4>
            <h4 ng-if="count > 2">count is {{count}}</h4>
            <watch></watch>
        </div>
        <div>
            Center Panel
            <input kendo-numerictextbox ng-model="count" k-min="1" k-max="10" k-up-arrow-text="'Increment'" k-down-arrow-text="'Decrement'"/>
        </div>
        <div>
            Right Panel
        </div>
    </div>
</div>

<!-- footer -->
<footer class="footer">
    <div class="container">
        <p class="text-muted">footer content</p>
    </div>
</footer>

<!-- vendor scripts -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/raf/index.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/kendo-ui/js/kendo.ui.core.min.js"></script>
<script src="bower_components/kendo-ui/js/kendo.angular.min.js"></script>

<!-- app scripts -->
<script src="monman.js"></script>

</body>
</html>