<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8" />
    <title>KendoUI</title>

    <link rel="stylesheet" href="bower_components/kendo-ui/styles/kendo.common.min.css"/>
    <link rel="stylesheet" href="bower_components/kendo-ui/styles/kendo.default.min.css"/>

    <style>
        .fixme {
            width: 600px;
            height: 300px;
            background-color: yellow;
        }
    </style>
</head>


<body ng-controller="myCtrl">

<!--<div kendo-splitter k-orientation="horizontal" k-panes="[null, null]" class="fixme">-->
<!--<div kendo-splitter k-panes="[null, null]" class="fixme">-->
<div kendo-splitter k-panes="[null, null]">
    <div>
        <h4>expression: {{1+3}}</h4>
        <h4>greeting: {{greeting}}</h4>
        <h4>ng version: {{ngversion}}</h4>
        <h4 ng-if="count > 2">count is {{count}}</h4>
    </div>
    <div>
        <input kendo-numerictextbox ng-model="count" k-min="1" k-max="10" k-up-arrow-text="'Increment'" k-down-arrow-text="'Decrement'"/>
    </div>
</div>

<!--<script src="bower_components/jquery/src/jquery.js"></script>-->
<script src="bower_components/kendo-ui/js/jquery.min.js"></script>

<script src="bower_components/angular/angular.js"></script>
<!--<script src="bower_components/kendo-ui/js/angular.min.js"></script>-->

<script src="bower_components/kendo-ui/js/kendo.ui.core.min.js"></script>
<script src="bower_components/kendo-ui/js/kendo.angular.min.js"></script>
<script src="monmank.js"></script>
</body>

</html>