.layout-mock *:not(.ui-splitbar){
    background : #e9e no-repeat center;
}


.layout-mock .center-back{
    background-image: url("http://placehold.it/400x300/eee/666&text=CENTER");
}
.center-back2{
    background-image: url("http://placehold.it/400x300/eee/666&text=CENTER");
}
.layout-mock .north-back{
    background-image: url("http://placehold.it/400x300/eee/666&text=NORTH");
}
.layout-mock .med .south-back{
    background-image: url("http://placehold.it/400x300/eee/666&text=SOUTH");
    background-color: yellow;
}

.layout-mock .mud{
    background-image: url("http://placehold.it/400x300/eee/666&text=SOUTH");
    /*background-color: yellow;*/
}

.layout-mock .mud2:not(p){
    /*background-image: url("http://placehold.it/400x300/eee/666&text=SOUTH");*/
    background-color: maroon;
}

#south{
    background-image: url("favicon.png");
    background-image: url("http://placehold.it/400x300/eee/666&text=SOUTH");
    background-repeat: repeat;
    width: 400px;
    height: 300px;
}
.layout-mock .east-back{
    background-image: url("http://placehold.it/400x300/eee/666&text=EAST");
}
.layout-mock .west-back{
    background-image: url("http://placehold.it/400x300/eee/666&text=WEST");
}
